.user_pic{
    margin-right: 15px;
    width: 6%;
    height: 6%;
    border-radius: 100%;
    border: solid 3px;
}

.form{
    background-color: white;
    border-radius: 15px;
    border: solid 2px;
}

.title-users{
    display: inline;
}